p {
	font-size: 36 px;
	color: gray;
	text-align: center;
}

h1 {
	text-align: center;
	color: gray;
}

body {
	font-family: "Lucida Console", Serif, Times;
	background-color: #F0F8FF;
}

#p1 {
	height: 50%;
	width: 50%;
	align-items: center;
}